.col-custom-container {
    display: flex;
    justify-content: space-between;
}
.col-custom-left {
    max-width: 50%;
}
.col-custom-right {
    max-width: 50%;
}
.img-custom {
    width: auto;
    height: 260px;
}
.col-custom {
    columns: 2 auto;
    column-gap: 3em;
    text-align: justify;
}
.image-custom-container {
    text-align: center;
}
#image-festi {
    height: 300px;
    width: auto;
    margin-top: 15px;
}
#image-livres-soi {
    height: 190px;
    width: auto;
    margin-top: 15px;
}

/* Mots clés */
#flex-container {
    display: flex;
    flex-wrap: wrap;
}
.flex-item {
    width: 33%;
    padding: 10px;
    display: grid;
    margin-bottom: 20px;
}
.flex-image {
    max-height: 100%;
    max-width: 100%;
}


/****** MEDIA QUERIES ******/




@media screen and (max-width: 660px) {
    .col-custom-container {
    display: contents;
    }
    .col-custom-left {
        max-width: 100%;
    }
    .col-custom-right {
        max-width: 100%;
    }
    .img-custom {
        width: auto;
        height: 260px;
    }
    .col-custom {
        columns: 1;
        column-gap: 0;
    }
}