.col-custom-container {
    display: flex;
    justify-content: space-between;
}
.col-custom-left {
    max-width: 50%;
}
.col-custom-right {
    max-width: 50%;
}
.img-custom {
    width: auto;
    height: 260px;
}
.col-custom {
    columns: 2 auto;
    column-gap: 3em;
    text-align: justify;
}
.image-custom-container {
    text-align: center;
}
#image-festi {
    height: 300px;
    width: auto;
    margin-top: 15px;
}
#image-livres-soi {
    height: 190px;
    width: auto;
    margin-top: 15px;
}

/* Mots clés */
#flex-container {
    display: flex;
    flex-wrap: wrap;
}
.flex-item {
    width: 33%;
    padding: 10px;
    display: grid;
    margin-bottom: 20px;
}
.flex-image {
    max-height: 100%;
    max-width: 100%;
}
.dlas-img-container {
    float: left;
    margin-right: 50px;
    margin-bottom: 50px;
}
.dlas-img {
    height: auto;
    width: 50vw;
}


/****** MEDIA QUERIES ******/




@media screen and (max-width: 660px) {
    .col-custom-container {
    display: contents;
    }
    .col-custom-left {
        max-width: 100%;
    }
    .col-custom-right {
        max-width: 100%;
    }
    .img-custom {
        width: auto;
        height: 260px;
    }
    .col-custom {
        columns: 1;
        column-gap: 0;
    }
}

@media screen and (max-width: 900px) {
    .dlas-img-container {
        float: none;
        margin-right: 0px;
        margin-bottom: 30px;
        text-align: center;
        width: 100%;
    }
    .dlas-img {
        height: auto;
        width: 50vw;
        margin: 0 auto;
    }
}